@media screen and (min-width:100px) and (max-width:800px) {
	input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
	body{background: #fff;width: 100%;overflow-y: auto;}
	header,.header{background: #599d26;padding: 0;height: 30px;}
	article{width: 100%;}
	.header .logo{float: left;background: #e9e9e9;width: 22%;padding-left: 0;padding-top: 0px;height: 30px;text-align: center;}
	.hlogo{float: left;background: #e9e9e9;width: 21%;padding-left: 1.6%;padding-top: 3px;height: 27px;}
	.header .logo img{margin-top: 2px;height: 26px}
	.hlogo img{height: 30px;}
	.username{width: auto;height: 30px;line-height: 30px;display: none}
	.username1{line-height: 30px;margin: 0 10px 0 0;color: #fff;display: none}
	.h_gj{display: none}
	.h_gc{display: none}
	.username2{display: none}
	.nav{display: none}
	.mnav{height: 30px;width: auto;padding: 0;display: block;}
	.mnav li{height: 30px;line-height: 30px;background: none;font-size: 12px;padding: 0 0.6em;float: left;}
	.mnav li em{height: 30px;}
	.mnav li em img{display: none}
	.mnav li a{font-size: 1.2em;color: #fff}
	.wrap{padding: 0}
	.main-left{display: none}
	.main-right{width: 100%;min-height:0;}
	.blog{border: 0}
	.blog-top{display: none}
	.blog-content{padding: 0 1em;font-size: 1em;line-height: 26px;}
	.blog-content h1{font-size: 1.3em;line-height: 24px;padding-top:1em;color: #7c8f7a;padding-left: 3.4em}
	.blog-content em{font-size: 0.8em;color: #bbbbbb;padding-top: 6px;padding-left: 5.4em}
	.blog-content em a{font-size: 0.8em;color: #bbbbbb}
	.blog-content img{max-width: 100%;}
	.share{display: none}
	.discuss{display: none}
	footer,.footer_w,.footer{width: 100%;margin: 0;padding: 12px 0}
	.topr{display: none}
	.cymd{display: none}
	.readymore{background: #dff0d6;color: #647861;padding: 1em;font-weight: 100;font-size: 1em;margin-bottom: 6px;}
	.foucs_ss2 a{width: 49%;border-radius: 4px;}
	#guanzhu_info{background: #ec9800;color: #fff;}
	#baoming_info{background: #469d32;color: #fff;}
	#foucs_ss1{background: #469d32;color: #fff;}
	#foucs_ss3{background: red;color: #fff;}

	.mdnametit{display: none}
	.mdnamet{display: none}
	.discuss-icon{display: none}
	.discuss-border{margin: 0;}
	.discuss-text textarea{width: 97%;border-radius: 4px;border: 1px solid #65aeee}
	.huifu{display: none}
	.discuss-border li{background: none;border-bottom: 1px solid #dadcdd;padding: 7px 0}
	.discuss-border li a img{display: none}
	.discuss-border li p{width: 100%;}
	.blog .submit{background: #31afd9;color: #fff;border-radius: 4px;text-indent: 0;float: right;}
	#text{overflow: hidden;width: 100%;}
	.nav{margin: 0}
	.indecen{width: 100%;}
	.racebody{padding:1.6em 5%;width: 90%;margin: 0;box-shadow:none;border: 0;background: #f8f8f8}
	.lanen{display: none}
	.racepostcn{width:100%!important;margin: 0;background: #ec9800;border-radius: 4px;text-align: center;height: 3em;line-height: 3em;color: #fff;text-indent: 0}
	.gamein{width: auto;padding: 2em 0}
	.racebody h1{font-size: 1.6em;border-left: 0;margin: 0;padding: 0;line-height: 1.4em}
	.racetip{margin-top: 10px;}
	.mproject{padding-bottom: 0}
	.mproject h5{color: #7c8f7a;font-size: 1.2em}
	.mprojectlist{padding: 4px 0;margin-bottom:0}
	.mprojectlist label{font-size: 1.2em;}
	.integral{margin: 0;padding: 0;text-align: left;border-top: 1px solid #dadcdd;padding-top: 0.6em;margin-top: 0.4em}
	.integral label{font-size: 1.1em}
	.mprojectlist li{margin-right: -98em}
	.projecttips{left: 145px;width: 93px;}
	.total{padding: 0;position: relative;}
	.total p{width: 100%;padding-top: 1.6em;font-size: 1em;line-height: 1.4em}
	.total em{width: 100%;margin: 0;text-align: left;position: absolute;top: 0.2em;color: #7c8f7a;line-height: 1.2em}
	.mprojectfrom .bmtd{width: 100%!important}
	.mprojectfrom .bmtr .bmtd{border: 1px solid #ccc;border-radius: 4px;background: #fff}
	.mprojectfrom span{text-align: left;margin: 0;width: 70%;float: left;margin-right:-70%; padding-left: 0.5em;color: #7c8f7a;height: 3em;position: relative;z-index: 1}
	.mprojectfrom .bmtr .bmtd em{float: right;height: 3em;z-index: 2}
	.mprojectfrom .bmtr .bmtd{height: 3em;line-height: 3em;margin-bottom: 0.5em}
	.mprojectfrom .bmtd input{background: #fff;box-shadow: none;border: 0;text-align: right;padding-right: 0.5em}
	.Validform_checktip{width: 100%;top: auto;height: 1px;bottom: 0;margin-bottom: -1px;overflow: hidden;}
	.Validform_right{background: #79A605;}
	.Validform_wrong{background: red}
	.mprojectfrom .bmtd .span2{margin: 0 0.4em 0 0;width: 10em;padding-left: 0;padding-right: 0;}
	.mprojectfrom #ddlProvince,.mprojectfrom #ddlCity{width: 4em;text-align: center;}
	#address{margin-right: 0;width: 6em!important}
	.bmcolspan input[type=text]{width: 17em}
	.bmcolspan strong{display: none}
	.mprojectfrom .bmtd ul{float: right;height: 3em;line-height: 3em;width: 10em;}
	.mprojectfrom .bmtd ul li{height:2em;line-height: 3em;float: right;overflow: hidden;padding-top: 1em;margin-right: 0.3em;width: 3em}
	.mprojectfrom ul li input{margin-right: 0.2em;float: right;}
	.mprojectfrom ul li label{float: right;height: 1em;line-height: 1em;margin-right:0.4em }
	.bmcolspan input[type=file]{width: 4em;margin-right: 1em}
	.bmcolspan input[type=radio]{width: auto;margin-right: 0.2em}
	.payrace{width: 100%;padding: 0;margin: 0}
	.payrace .payracetr .payracetd{width: 100%!important;}
	.payrace em{width: 100%;text-align: left;color: #6f94a2;padding: 0 2em;margin: 0 -2em}
	.payrace tr, .payrace .payracetr{background: none}
	.payrace span{height: auto;line-height: 1.4em;margin: 0.4em 0 }
	.payrace .payrmb span{height: auto;}
	.paynum{margin-top: 1em;position: relative;padding-bottom: 3em}
	#Buttonpay{display: none}
	#BtnAlipay{display: block;width: 100%;position: absolute;height: 3em;top: 2em;border: 0}
	#projectpos{width: 100%;background: #ec9800;border-radius: 4px;border: 1px solid #d58600;color: #f8f8f8;text-indent: 0}
	.rebox{margin: 0;width: 100%;padding: 0}
	.mediaretop{display: block;}
	.retop{display: none}
	.mediaretop{background: #e9e9e9;font-size: 1.4em;height: 2.2em;line-height: 2.2em;padding:0 1em;}
	.reindex{color: #666}
	.relogin{color: #09752c;float: right;}
	.refrome{background: #f1f1f1;width: 86%;padding: 0 7%;overflow: hidden;}
	.refrome .refrometr input{background: #fff;border: 1px solid #cccccc;border-radius: 4px;width: 95%;padding: 0 2%;text-align: right;height: 3em;line-height: 3em}
	.refrome .refrometr .refrometd{width: 100%;z-index: 1;position: relative;height: 3em;line-height: 3em}
	.refrome .refrometr .refrometd:first-child{text-align: left;padding-left: 1em;width: 30%;margin-bottom: -3em;z-index: 9;position: relative;}
	.refrometr{margin-top: 0.8em}
	.refrome{padding-top: 1em}
	.refrome select{float: right;}
	.Validform_checktip{display: block;width: 98%}
	.refrome .refrometr .reqs {height: 6em}
	.refrome .refrometr .reqs label{margin-top: 3em;padding-left: 0.9em;float: left;}
	.topnav{display: none}
	#txtAsk{float: right;width: 95%;margin-left: -50%;z-index: -1;position: relative;margin-top: 0.7em}
	#agree{margin-top: 1em}
	.refrome label[for=agree]{display: inline;font-size: 1em}
	.mactive{display: block;margin-bottom: -5em;float: left;margin-top: 1em}
	.mactive img{width: 4em}
	.blog-content em strong{display: inline-block;font-weight: 100}
	.mlslist{padding: 0 1em}
	.mlslist li{width: 100%;border-radius: 4px;height: auto;border: 1px solid #f1f3f6;overflow: hidden;margin-top: 1em;padding-bottom: 1em;}
	.mlslist li:nth-child(even){margin: 1em 0 0 0 }
	.mlistnav a{width: 22%;margin: 0 1.5%;padding: 0.5em 0;text-align: center;border-radius: 4px;font-size: 1em;line-height: 1em;height: 1em}
	.mlistnav .internationlink{display: none}
	.mlslist li img{width: 7em;margin-bottom: 2em}
	.mlslist li span{background: #f1f3f6}
	.internation .mlslist li{width: 97%;}
	.internation .mlslist li a.csbm,.mlslist li a.csbm{position: static;width: 60%;background: #5eb84c;margin: 0 auto;float: none;display: block;clear: both;margin-top: 2em;border-radius: 4px;color: #fff;text-align: center;height: 1em;font-size: 1em;line-height: 1em;padding: 0.8em;text-indent: 0}
	.internation .mlslist li a.jieshu,.mlslist li a.jieshu{position: static;width: 60%;background: red;margin: 0 auto;float: none;display: block;clear: both;margin-top: 2em;border-radius: 4px;color: #fff;text-align: center;height: 1em;font-size: 1em;line-height: 1em;padding: 0.8em;text-indent: 0}
	.mprojectother li{height: auto;line-height: 1.8em}
	.mprojectother label{display: inline;}
	
	.mprojectfrom .bmtd input[type=radio]{background: #000}
	.mprojectfrom .card{width: 4em}
	.ht{width: 100%;background: none;float: none;height: auto}
	.ht ul{padding: 8px 5% 0 5%;}
	.ht .tw{padding: 16px 5% 0 5%;}
	.httitle{background: #f1f1f1;color: #f8b931;font-size: 1.1em;font-weight: 100;height: 1em;line-height: 1em;padding: 0.6em 0.8em}
	.htlist a{color: #666;font-size: 1.1em}
	.left{width: 100%;padding-bottom: 12px}
	.right{display: none}
	.tw a{color: #7c8f7a;font-weight: 100}
	.tw a.title{font-size: 1.2em}
	.column-title{background: #f1f1f1;color: #f8b931;font-size: 1.1em;font-weight: 100;height: 1em;line-height: 1em;padding: 0.6em 0.8em;border: 0}
	.column-title p{display: none}
	.column-title span{padding: 0;color: #}
	.column-title em{font-size: 0.8em}
	.blockMsg{border-color: #111!important;left: 50%!important;margin-left: -117px!important;}
	.aracetip{display: none}
	.aracetipm{display: inline;}
	.timemm, .timem, .ktime{font-size: 1em;width: 5em;height: 2em;line-height: 2em;border: 0;border-radius: 2px}
	.timelist li{width: 100%;margin:0 0 1em -2px;}
	.jointime{width: 8em;height: 2.6em;line-height: 2.8em;border-radius: 4px}
	.timelist li span em{height: 2em;line-height:2.2em;border-radius: 4px;padding: 0 8px}
	#newteam, #sessteam, #jionteam, #jionteamm, #okteam{width: 100%;}
	#newteam tr td:first-child{width: 94px}
	.mypasswd{padding-top: 28px}
	#H2_w{width: auto;}
	#guide{width: 100%;background: none;padding-top: 0.5em}
	#guide li{display: none;width: 44%;
padding: 0.5em 0;
text-align: center;
border-radius: 4px;
font-size: 1em;
line-height: 1em;
height: 1em;float: left;background: none;margin:  0.6em 3% 0 3%}
	#guide li:first-child{display: inline-block;}
	#guide li:nth-child(4){display: inline-block;}
	#guide li:nth-child(6){display: inline-block;}
	#guide li:nth-child(7){display: inline-block;}
	#guide li i,#guide li em{display: none}
	#guide li.dq{background: #fbaf59}
	#guide li.dq a{font-weight: 100;color: #fff;font-size: 1em;line-height: 1.2em}
	#guide li a{color: #fbaf59}
	#cont{width: 94%;padding: 1em 3%}
	#cont span{font-weight: 100;font-size: 1.1em;color: #599d26;background: #f2f2f2;padding: 0.4em 0.3em 0.3em 0.6em;display: block;}
	#cont span em{font-size: 1em}
	#jieguo{background: none;border-top: 1px dotted #ccc;color: #666666;padding: 0.6em 0.4em}
	#cont p{font-size: 1em;color: #666666;padding: 0.6em}
	#cont form{color: #7c8f7a;padding-top: 1em}
	#cont form input{border: 1px solid #cccccc;background: #fff;border-radius: 4px;color: #7c8f7a;padding: 0.6em 0.6em}
	#cont form td:first-child{padding-top: 0.4em}
	.mnav .navmore{padding: 0 0.8em;position: absolute;width: 1em;right: 0}
	.navmore dl{display: none;position: absolute;width:6em;background: #599d26;right: 0;z-index: 999;padding-left: 1em;}
	.navmore i{color: #fff;font-style: normal;-webkit-transform:rotate(270deg);display: inline-block;font-size: 1.8em}
	.appdownv{display: block;margin-top: 20px;}
	.appdownv img{width: 100%}
	#page_nav{padding: 0 4%}
	.about{padding: 10px 4%}
	.about p{padding: 10px 0}
	.mediaLogin{position: fixed;bottom: 0;border-top: 1px solid #bdc1c4;height: 38px;width: 100%;ackground-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(252,253,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(252,253,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(252,253,255) 100%);}
  	.mediaLogin .ml2{width: 49.5%;float: left;border-right:1px solid #bdc1c4 ;text-align: center;line-height: 38px;color: #797979;position: relative;padding: 0}
  	.mediaLogin .ml2:last-child{border: 0}
  	.mediaLogin .ml2 i{display: inline-block;width: 0;height: 0;border-bottom: 6px solid #797979;border-left:4px solid transparent ;border-right: 4px solid transparent;margin: 0 4px 2px 0}
  	.mediaLogin .ml3{width: 33%;float: right;border: 0;border-right:1px solid #bdc1c4 ;text-align: center;line-height: 38px;color: #797979;position: relative;margin: 0;box-shadow:none;padding: 0;font-size: 1em;height: auto;background: none}
  	.mediaLogin .ml3:first-child{border: 0}
  	.mediaLogin .ml3 i{display: inline-block;width: 0;height: 0;border-bottom: 6px solid #797979;border-left:4px solid transparent ;border-right: 4px solid transparent;margin: 0 4px 2px 0}
  	.mediaLogin input{display: none}
  	.mediaLogin input+ul{display: none;position: absolute;bottom: 36px;background: #fafafa;border: 1px solid #c3c3c3;padding:5px 11px;border-radius: 7px;right: 8%;width: 98px;top: auto;box-shadow:none;}
  	.mediaLogin input:checked+ul{display: block;}
  	.mediaLogin input+ul li{border-bottom: 1px solid #c3c3c3;padding:0.2em 13px 0 13px;text-align: left;line-height: 2.2em;font-size: 1.2em;position: relative;width: auto;}
  	.mediaLogin input+ul li:last-child{border-bottom: 0;}
  	.mediaLogin .ml3 input+ul li i{width: 10px;height: 10px;border: 1px solid #c3c3c3;transform:rotate(45deg);display: block;
-ms-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-o-transform:rotate(45deg);background: #fafafa;bottom: -13px;position: absolute;left: 47%;border-left: 0;border-top: 0}
	.mediaLogin .ml3 em{width: 1.4em;height: 1.4em;background: #f6a407;border-radius: 20px;display: inline-block;font-size: 14px;line-height: 20px;text-align: center;color: #fff;margin-left: 4px;}
	.erunlogo{display: none}
	.mnone{display: none}
	.msgshowl em, .msgshowpl em, .msgshowf em{top: 2px;margin-left: 4px;}
	.articleh{width: 100%;}
	.mnav .meidlogin{background: #e9e9e9;display: block;}
	.meidlogin a{display: block;height: 100%;}
	.meidlogin img{height: 100%;}
	.internationselect .form-control{width: 100px;-webkit-appearance:none;}
	.internationtop a{line-height:1.6em}
	.groupnt img{display: none}
	.groupnt span{font-size: 20px;padding: 20px 0 6px 6px;background: none;text-indent:0;width: auto;height: auto;}
	.groupnts a{padding: 20px 6px 6px 6px;}
	
}