<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <add key="ModelCache" value="30"/>
    <add key="rootUrl" value="/"/>
    <add key="imgPath" value="D:\webfiles\img.erun360.com\Utility\Uploads\"/>
    <!--日志路径-->
    <add key="logPath" value="/Log/"/>
    <!--系统默认关注用户id-->
    <add key="FocusId" value="100000093,100001183"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Forms"/>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120"/>
    <httpModules>
      <add name="MyModuler" type="Legalsoft.Basic.ReModuler"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ERUN360" src="~/Controls/Header.ascx" tagName="header"/>
        <add tagPrefix="ERUN360" src="~/Controls/Footer.ascx" tagName="footer"/>
        <add tagPrefix="ERUN360" src="~/Controls/Train.ascx" tagName="train"/>
        <add tagPrefix="ERUN360" src="~/Controls/Header-USer.ascx" tagName="header_user"/>
        <add tagPrefix="ERUN360" src="~/Controls/Footer-User.ascx" tagName="footer_user"/>
        <add tagPrefix="ERUN360" src="~/Controls/Header-blog.ascx" tagName="header_blog"/>
        <add tagPrefix="ERUN360" src="~/Controls/Footer-blog.ascx" tagName="footer_blog"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="51200" executionTimeout="300000"/>
  </system.web>
  <!--<system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>-->
  <system.webServer>
    <modules>
      <add type="wqcms.URLRewriter.ModuleRewriter, wqcms_URLRewriter" name="ModuleRewriter"/>
    </modules>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL"/>
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileSaveAsSoap"/>
        <binding name="PhotoServerSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
  
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>