@charset "gb2312";
/*mini header css star*/
.header{height: 50px;background:  #fff ;background:hsla(0,0%,95%,0.9) ;width: 100%;position: relative;z-index: 10;position: fixed;}
.header{padding: 0}
.nav{float: left;width: 94px;height: 30px;background: #fff;border: 1px solid #dddddd;font-size: 12px;color: #888;line-height: 30px;text-align: center;margin:10px 0 0 10px;padding: 0;display: block;overflow: hidden;}
.nav li{float: none;line-height: 30px;height: auto;background: #fff;padding: 0;font-size: 14px;width: 94px;position: inherit;display: block;}
.nav img{display: none}
.nav dl{display: inline-block;padding: 0;position: relative;border: 0;width: 100%;z-index: 1;top: 0;left: 0}
.nav:hover{cursor: pointer;overflow: visible;}
.nav:hover ul{display: block;}
.nav ul{display: none;border: 1px solid #dddddd;width: 94px;margin-left: -1px;background: #fff}
.nav a{color: #888;display: inherit;}
.nav ul li:hover{background: #f3f3f3}
.nav ul li:hover a{color: #ff6600;}
.nav ul a{color: #888}
.nav li em{display: none}
.nav li a{color: #999}
.nav dl dt{line-height: 30px;height: auto;padding: 0;width: 100%;display: inline-block;}
.nav li a i{display: none}
.nav dl a{font-size: 14px;}
.nav li:last-child{background: #fff}
.nav li:first-child em{display: block;color: #999;height: auto;}
/*mini header css end*/


body{position: relative;background: #b4120a}
.footer{color: #fff}
.footer a{color: #fff}
.inex{width: 1280px;margin: 100px auto;position: relative;background: url(../images/d14.png) no-repeat center top;height: 860px;z-index: 1}
.inexb{height: 190px;background: #fff;width: 100%;position: absolute;top: 240px;z-index: 0}
.inextop{height: 190px;background: #fff;width: 100%;position: absolute;top: 240px;z-index: 0}
.d11{position: relative;z-index: 110;top: 168px;left: 240px;display: inline-block;}
.d11 a{width: 60px;height: 21px;bottom: 67px;left: 280px;}
.inex a{display: inline-block;position: absolute;}
.d1{z-index: 110;bottom: 220px;right: 120px;}
.d2{z-index: 110;top: 260px;right: 50px;}
.d3{z-index: 110;top: 30px;right: 94px;}
.d4{z-index: 100;bottom: 86px;right: 230px;}
.d5{z-index: 100;bottom: 0px;right: 434px;}
.d6{z-index: 110;bottom: 60px;left: 180px;}
.d7{z-index: 100;bottom: 30px;left: 260px;}
.d8{z-index: 110;top: 90px;right: 50px;}
.d9{z-index: 100;top: 350px;right: 36px;}
.d10{z-index: 100;top: 28px;left: 0px;}
.d12{z-index: 100;top: 244px;left: 0px;}
.d13{z-index: 90;top: 244px;left: 2px;}
.mnav{display: none;}

body{overflow: hidden;}
.header{position: absolute;top: 0;width: 100%;background: rgba(255,255,255,0.55)}
.erunlogo{float: left;margin-top: -5px;}
.mediaLogin{width: 100%;}
.mediaLogin .ml2{float: right;line-height: 54px;padding: 0 5px 0 4px;color: #990000;font-size: 14px;}
.mediaLogin .ml3{height: 30px;border: 1px solid #dddddd;line-height: 30px;text-align: center;float: right;margin: 10px 0 0 6px;position: relative;-moz-box-shadow:2px 2px 0 #E6E6E6;-webkit-box-shadow:2px 2px 0 #E6E6E6;box-shadow:2px 2px 0 #E6E6E6;font-size: 12px;color: #999;padding: 0 18px 0 14px;background: url(../images/jtx.png) no-repeat right 12px #F8F8F8;height: 100%;position: relative;z-index: 10;position: relative;width: 52px;}
.mediaLogin .ml3:hover{color: #990000;cursor: pointer;height: 36px;border-bottom: 0;-moz-box-shadow:2px 2px 0 #E6E6E6;-webkit-box-shadow:2px 2px 0 #E6E6E6;
    box-shadow:2px 0px 0 #E6E6E6;}

.mediaLogin .uname{background: none;color: #900;font-size: 14px;border: 0;box-shadow:none;width: auto;}
.mediaLogin input{display: none}
.mediaLogin input+ul{display: none;width: 100%; border: 1px solid #ddd;position: absolute;top: 29px;right: -1px;background: #F8F8F8;-moz-box-shadow:2px 2px 0 #E6E6E6;-webkit-box-shadow:2px 2px 0 #E6E6E6;box-shadow:2px 2px 0 #E6E6E6;z-index:9999;}

.mediaLogin input+ul li{width: 82px;line-height: 30px;text-align: left;padding-left: 14px;position: relative;}
.mediaLogin input+ul li:last-child{border-bottom: 0;}
.mediaLogin .ml3 input+ul li i{display: none}
.mediaLogin a{color: #999}
.meidlogin{display: none}
@media screen and (min-width:801px) {
.mediaLogin .ml3:hover ul{display: block;}
}