@charset "gb2312";
/*mini header css star*/
.header{height: 50px;background:  #fff ;background:hsla(0,0%,95%,0.9) ;width: 100%;position: relative;z-index: 10;position: fixed;}
.header{padding: 0}
.nav{float: left;width: 94px;height: 30px;background: #fff;border: 1px solid #dddddd;font-size: 12px;color: #888;line-height: 30px;text-align: center;margin:10px 0 0 10px;padding: 0;display: block;overflow: hidden;}
.nav li{float: none;line-height: 30px;height: auto;background: #fff;padding: 0;font-size: 14px;width: 94px;position: inherit;display: block;}
.nav img{display: none}
.nav dl{display: inline-block;padding: 0;position: relative;border: 0;width: 100%;z-index: 1;top: 0;left: 0}
.nav:hover{cursor: pointer;overflow: visible;}
.nav:hover ul{display: block;}
.nav ul{display: none;border: 1px solid #dddddd;width: 94px;margin-left: -1px;background: #fff}
.nav a{color: #888;display: inherit;}
.nav ul li:hover{background: #f3f3f3}
.nav ul li:hover a{color: #ff6600;}
.nav ul a{color: #888}
.nav li em{display: none}
.nav li a{color: #999}
.nav dl dt{line-height: 30px;height: auto;padding: 0;width: 100%;display: inline-block;}
.nav li a i{display: none}
.nav dl a{font-size: 14px;}
.nav li:last-child{background: #fff}
.nav li:first-child em{display: block;color: #999;height: auto;}
/*mini header css end*/
@media screen and (min-width:801px) {
.mediaLogin .ml3:hover ul{display: block;}
}

.group{width: 100%;height: 577px;background: #dc2900 url(../images/bg.jpg) no-repeat center top;display: block;}
