@charset "gb2312";
/* CSS Document */
a:hover{text-decoration:  none}
ul, ol{margin: 0}
.marathon-reg{padding: 10px 0 40px 0;}
.marathon-reg h1{font-size: 30px; color:#1d76b7;line-height: 54px;font-weight: bold;}
.marathon-reg h4{font-size: 14px; color: #707070}
.marathon-reg table{width: 100%;}
.marathon-reg table td{height: 64px;width: 50%;}
.marathon-reg table tr:nth-child(even){background: #f1f7f0}
.marathon-reg table span{width: 130px;float: left;text-align: right;font-size: 16px;color: #333;padding: 8px 10px 0 0 }
.marathon-reg table em{float: left;padding-top: 4px;}
.xuexing em input{float: left;margin-right: 3px}
.xuexing em label{float: left;margin-right: 8px;color: #666}
.marathon-reg table .xuexing em{padding-top: 7px;}
.marathon-reg table span.caret{width: 0;padding: 0;float: none;}
.csxm td{color: #666;}
.csxm em input{float: left;margin-right: 3px;}
.csxm em label{float: left;margin-right: 40px}
.csxm td a{color: #ff7926}
.csxm td a:hover{ text-decoration: none;}
.marathon-reg table tr.csxm em{padding-top: 8px;}
.jnscc td{color: #666;}
.jnscc em input{float: left;margin-right: 3px;}
.jnscc em label{float: left;margin-right: 12px}
.jnscc td a{color: #ff7926}
.jnscc td a:hover{ text-decoration: none;}
.marathon-reg table tr.jnscc em{padding-top: 8px;}
#submit{background: url(/Html/images/bman.png) no-repeat bottom;width: 135px;height: 63px;border: 0;margin: 0 auto;display: block;text-indent: -999em}
.mlslist{display: inline-block;}
.mlslist li{width: 480px; height: 228px;float: left;border: 1px solid #e8e8e8;font-size: 12px; line-height: 20px;color: #666;margin-top: 16PX;position: relative;}
.mlslist li:nth-child(even){margin-left: 6px;}
.mlslist li img{float: left;border: 1px solid #c9d6db;margin: 0 12px 0 15px;}
.mlslist li span{display: block;height: 50px;line-height: 50px;background: #e8e8e8;font-size: 18px;padding:0 15px;margin-bottom: 14px;overflow: hidden;}
.mlslist li span a{color: #2075bd;font-weight: bold;}
.mlslist li p{color: #999;padding-top: 5px;}
.mlslist li a.csbm{width:136px;height: 39px;   float: left;margin: 15px 0 0 80px;position: absolute;background: url(/Html/images/ljbm.png);bottom: 22px;right: 82px;    top: 152px;text-indent: -99em;overflow: hidden;}
.mlslist li a.jieshu{width:136px;height: 39px; float: left;margin: 15px 0 0 80px;position: absolute;background: url(/Html/images/bmjs.png); bottom: 22px;right: 82px;top: 152px;text-indent: -99em;overflow: hidden;}


.ybm{border: 1px solid #cccccc;border-top-width: 3px ;margin-top: 23px;font-size: 18px;color: #666;width: 100%;}
.ybm tr{border-top: 1px solid #ccc}
.ybm tr td{border-left: 1px solid #ccc;padding-left: 16px;}
.ybm tr td.ybmname{font-size: 18px; color: #333;font-weight: bold;height: 56px;width: 159px;text-align: center;padding: 0}
.ybm tr td.dgnr{height: 79px;text-align: center;padding: 0;font-size: 18px; color: #333;font-weight: bold;}
.ybm tr td.zxzfl{height: 195px;text-align: center;padding: 0;font-size: 18px; color: #333;font-weight: bold;}
.ybm em{font-size: 24px; color: #ff6c00;font-style: normal;}
.ybm tr td.zxzfr em{font-size: 18px;}
.ybm tr td.zxzfr span{color: #00840c;font-weight: bold;line-height: 50px;}
.ybm tr td.zxzfr p{font-size: 12px;padding-top: 10px;}
.ssl{width: 230px;float: left;}
.ssc{width: 520px;float: left;margin-left: 10px;}
.ssr{width: 196px;float: right;border: 1px solid #ddd;padding: 1px}
.renk{border: 1px solid #ddd;background: #f8f8f8;padding: 16px 24px;text-align: center;font-size: 14px;color: #666;line-height: 22px;}
.renk p{font-size: 18px;color: #ff8707;font-weight: bold;height: 35px;line-height: 35px;margin: 0}
.ssllist{border: 1px solid #ddd;background: #f8f8f8;margin-top: 10px;padding:22px 0 0 50px;height: 636px;}
.ssllist li{line-height: 45px;height: 45px;filter:alpha(Opacity=40);-moz-opacity:0.4;opacity: 0.4;}
.ssllist li.dq{filter:alpha(Opacity=100);-moz-opacity:1;opacity: 1;}
.ssllist li a{font-size: 14px;color: #693f69}
.ssc .tit{height: 30px;border-bottom: 1px solid #e4e4e4;}
.ssc .tit li{float: left;line-height: 30px;padding: 0 20px;background: #f2f2f2;}
.ssc .tit li.dq{height: 38px;background: url(/Html/images/dqtitbj.png) no-repeat center top;color: #fff}
.ssc .tit li:hover{cursor: pointer;}
.ssc table{width: 100%;text-align: center;}
.ssc table a{color: #666}
.ssc table a:hover{color: #ff8707}
.ssc table tr{height: 75px;}
.ssc table tr.csbtit{border-bottom: 2px solid #f1f7f0;height: 21px;background: #fff!important}
.ssc table tr.csbtit td{padding-bottom: 5px}
.ssc table{display: none}
.csbt{text-align: left;padding: 0 10px}
.tjhy,.rmhd{color: #ff7800;font-size: 16px;font-weight: bold;height: 40px;padding-left: 30px;line-height: 40px;background: url(/Html/images/tjhy.png) no-repeat 10px 12px #f3f3f3;}
.tjhyli{padding: 0 6px 6px 6px;}
.tjhyli img{width: 50px;}
.tjhyli li{height: 60px;border-bottom: 1px dashed #dbdbdb;padding: 16px 0 8px 0;font-size: 12px;}
.tjhyli li a{color: #333;font-size: 14px;}
.tjhyli li img{float: left;margin-right: 9px;}
.tjhyli li a:hover{color: #ff8707}
.tjhyli li span{width: 60px;height: 16px;float: left;border: 1px solid #dedede;background: #f2f2f2;text-align: center;line-height: 16px;color: #999;border-radius: 3px;}
.tjhyli li span:hover{cursor: pointer;color: #fff;background: #378ed6;border: 1px solid #378ed6}
.rmhd{background-image: url(/Html/images/rmhd.png);}
.rmhdli{padding: 0 6px 24px 10px;}
.rmhdli img{width: 70px;float: left;margin-right: 9px;}
.rmhdli li{padding-top: 15px;font-size: 12px;color: #666;height: 70px;}
.rmhdli li a{color: #333;font-size: 14px;}
.card{width: 80px;border-radius:4px 0px 0px 4px!important;border-right: 0!important}
.tdlabel label,.tdlabel input{float: left;margin-right: 4px;color: #333}
.marathon-reg table .tdlabel span {padding-top:0; }
.tdlabel span label{float: none;}
#CalendarDiv select{width: auto;height: auto;margin-top: -10px;border-radius: 0;}
.tdlabele em{width: 830px;}
.tdlabele label,.tdlabele input{float: left;margin-right: 4px;color: #FF7926}
.tdlabele table td{width: auto;}
.tdlabele span label{float: none;color: #333}
.marathon-reg table .tdlabele table tr td span{padding-top: 0;}

#competetion td{width: 90px;}
#competetion td label{width: 170px;}
.marathon-reg table .tdlabele span {padding-top:4px; }
.tdlabelf em{width: 330px;}
.tdlabelf label,.tdlabele input{float: left;margin-right: 4px;color: #FF7926}
.tdlabelf table td{width: auto;}
.tdlabelf span label{float: none;color: #333}
.marathon-reg table .tdlabelf span {padding-top:4px; }
.controls{width: 100%;text-align: center;padding-top: 16px;overflow: hidden;}
#Btnsubmit{width: 83px;height: 32px;background: url(/Images/submit.gif);border: 0;text-indent: -999em}
#Buttonpay{width: 194px;height: 26px;display: block;text-indent: -999em;background: url(/images/zhifu.png);border: 0;}

.marathon-reg table .uptijian span{width: 210px;}
.uptijian #FileUpload1{font-size: 12px;color: #333;outline:none;width: 150px;}
.marathon-reg table .uptijian em{padding-left: 40px;}
.uptijian #Buttonupload{font-size: 12px;}
.uptijian a{ color: #f00;line-height: 36px;padding-left: 10px;}
#Ctnsubmit{ background: url("../images/submit.png") repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    display: list-item;
    float: none;
    height: 32px;
    margin: 0 auto 0;
    text-indent: -999em;
    width: 71px;}
.bmtip{color: #f00;font-size: 12px;padding-left: 144px;}
#competetion li,#size li{float: left;margin-right: 4px;}
#competetion {display: inline-block;}
#size input{margin: 4px 3px 0 0!important;float: left;}
.marathon-reg table .tdlabele li span{width: auto;margin: 0 ;padding: 0}
.marathon-reg table .tdlabele li span label{float: left;font-size: 12px;}
.marathon-reg h1 .lang{font-size: 16px;float: right;padding-right: 18px;}
.mlistnav{padding: 10px 0 0 0;overflow: hidden;}
.mlistnav a{color: #dbb794;padding: 0px 20px;float: left;height: 26px;line-height: 29px;margin: 0;}

