html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-style:inherit;}
body{font:14px Lucida Sans Unicode, Myriad Pro, Hiragino Sans GB, Heiti SC, Microsoft YaHei, arial, Verdana, SimHei;background:url(/Images/regis/regisbj.jpg) no-repeat center top #fff;color:#7c8f7a;height:100%;}
a{color:#7c8f7a;-moz-transition:color 0.3s linear 0s;-webkit-transition:color 0.3s linear 0s;-o-transition:color 0.3s linear 0s;transition:color 0.3s linear 0s;}
a:link,a:visited{text-decoration:none;}
a:hover{color:#0077cc;}
:focus{outline:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
form legend{display:none;}
ol, ul{list-style:none;}
select,input,img,select{vertical-align:middle;}
html[xmlns] .clearfix{display:block;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.cent{ width: 770px; height: 680px; margin: 119px auto 0; overflow: hidden;}
.logo{display: block;width: 140px; height: 42px; margin: 21px 0 0 25px;}
.cent em{ font-size: 16px;  font-style: normal;float: right; padding: 35px 60px 0 0}
.zclx{font-size: 22px;padding: 58px 0 10px 126px;width: 550px;}
#form1{padding-left: 196px;}
#form1 td{padding-right: 8px; height: 30px; line-height: 30px;padding-bottom: 15px;font-size: 14px;}
#form1 input{height: 26px; background: #f1f6f0;border: 1px solid #e1e8e0;box-shadow: 0 0 4px #ddd inset ; color: #7c8f7a; font-size: 14px; width: 184px;font-family:\5FAE\8F6F\96C5\9ED1;padding-left: 5px;line-height: 26px;}
#form1 select{ background: #f1f6f0; border: 0;color: #7c8f7a; font-size: 14px;width: 180px;}
#form1 option{background: none; border: 0;}
.mmwt{float:left;width:184px;height:21px;border:solid 1px #e1e8e0;background-color:#f1f6f0;padding:3px;margin-right:10px;box-shadow: 0 0 4px #ddd inset ;padding-top: 4px}
#form1 font{font-size: 12px; color: #999999}
#form1 #idGender{width: 14px;margin-top: 0;background: none;border: 0;height: 16px}
#form1 #inputCheck{width: 10px;margin-top: 0;background: none;border: 0;height: 10px;}
#form1 .xbie{padding-bottom: 14px}
#form1 .xming{padding-bottom: 15px}
#form1 .xyi{font-size: 12px;}
#form1 #cAnswer{width: 128px;}
#submit_command{width: 129px; height: 40px;float: left;}
#submit_command img:hover{cursor: pointer;}
#total_echo{float:left;width:250px;height:22px;padding-top:10px;padding-left: 10px;}
#form1 .mmwttd{padding-bottom: 3px}
.check_echo{color: #e21515;font-size: 12px;}
.footer_w{ text-align:center; color:#7c8f7a; font-size:12px; line-height:25px; padding-top:40px}
.footer_w a{ color:#7c8f7a}